[Unit]
Description=Cleanup Local Repository
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cleanup-repo-tool
User=root
Group=root
StandardOutput=append:/var/log/cleanup-repo-tool/cleanup.log
StandardError=append:/var/log/cleanup-repo-tool/cleanup.log
